body {
  background-color: #2d2d2d;
}

.container {
  height:           100vh;
  padding-left:     2em;
  padding-right:    2em;
  background-color: #fcfcfc;
}

.card {
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
}
